@model MGP.CI.SEGURIDAD.Presentacion.ViewModels.X1003.AgregarFamiliarViewModel
@{
    Layout = null;
}
<div>
    <div class="tab-content">
        <div class="tab-pane fade in active">
            <div class="panel-group accordion">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <center>
                            <h3 class="panel-title">
                                <a data-parent="#accordion" data-toggle="collapse" href="#IdPanelCrearDocumentoDeclarante" aria-expanded="false" class="">AGREGAR FAMILIAR</a>
                            </h3>
                        </center>
                    </div>
                    <div class="panel-collapse collapse in" id="IdPanelCrearDocumentoDeclarante" aria-expanded="true">

                        @using (Html.BeginForm("RegistarFamiliar", "XP1003", FormMethod.Post, new { id = "frmRegistarFamiliar", onsubmit = "return RegistrarFamiliarInDataTable(this)", enctype = "multipart/form-data" }))
                        {
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarPaterno, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.FamiliarPaterno, new { @type = "text", @maxlength = "8", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.FamiliarPaterno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarMaterno, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.FamiliarMaterno, new { @type = "text", @maxlength = "8", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.FamiliarMaterno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarNombre1, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.FamiliarNombre1, new { @type = "text", @maxlength = "8", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.FamiliarNombre1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarNombre2, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.FamiliarNombre2, new { @type = "text", @maxlength = "8", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.FamiliarNombre2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarNombre3, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.FamiliarNombre3, new { @type = "text", @maxlength = "8", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.FamiliarNombre3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarDocumentoIdentidadTipoId, new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.FamiliarDocumentoIdentidadTipoId, new SelectList(Model.LstTipoDocumentos, "DocumentoIdentidadTipoId", "Descripcion"), new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarNroDocumentoIdentidad, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.FamiliarNroDocumentoIdentidad, new { @type = "text", @maxlength = "8", @class = "form-control", onkeypress = "return ValidarNroDocumentoHijo(event);" })
                                        @Html.ValidationMessageFor(x => x.FamiliarNroDocumentoIdentidad, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarFechaNacimiento, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.FamiliarFechaNacimiento, new { @type = "text", @maxlength = "8", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.FamiliarFechaNacimiento, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarNacionalidadId, new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.FamiliarNacionalidadId, new SelectList(Model.LstNacionalidades, "NacionalidadId", "Nombre"), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.FamiliarParentescoId, new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.FamiliarParentescoId, new SelectList(Model.LstParentesco, "ParentescoId", "Nombre"), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                        <div class="uploaderfoto">

                                            <label for="filefamiliarfoto1">
                                                <input id="filefamiliarfoto1" class="upload" type="file" accept="image/jpeg" onchange="cargararchivodeclarante(this.files, this)" style="display:none">
                                                <img id="imgfilefamiliarfoto1" src="~/Content/img/fotopreliminarfrente.png" class="img-thumbnail filefoto" />
                                            </label>
                                        </div>
                                    </div>
                                    @*<div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        @Html.LabelFor(x => x.HijostrFotoFrente, new { @class = "control-label",  @style = "text-align: center;display:flow-root" })
                    </div>
                </div>*@
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                        <div class="uploaderfoto">

                                            <label for="filefamiliarfoto2">
                                                <input id="filefamiliarfoto2" class="upload" type="file" accept="image/jpeg" onchange="cargararchivodeclarante(this.files, this)" style="display:none">
                                                <img id="imgfilefamiliarfoto2" src="~/Content/img/fotopreliminarposterior.png" class="img-thumbnail filefoto" />
                                            </label>
                                        </div>
                                    </div>
                                    @*<div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        @Html.LabelFor(x => x.HijostrFotoPosterior, new { @class = "control-label", @style = "text-align: center;display:flow-root" })
                    </div>
                </div>*@
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                        <div class="uploaderfoto">

                                            <label for="filefamiliarfoto3">
                                                <input id="filefamiliarfoto3" class="upload" type="file" accept="image/jpeg" onchange="cargararchivodeclarante(this.files, this)" style="display:none">
                                                <img id="imgfilefamiliarfoto3" src="~/Content/img/fotopreliminarizquierda.png" class="img-thumbnail filefoto" />
                                            </label>
                                        </div>
                                    </div>
                                    @*<div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        @Html.LabelFor(x => x.HijostrFotoLateralIzquierdo, new { @class = "control-label", @style = "text-align: center" })
                    </div>
                </div>*@
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row">
                                        <div class="uploaderfoto">

                                            <label for="filefamiliarfoto4">
                                                <input id="filefamiliarfoto4" class="upload" type="file" accept="image/jpeg" onchange="cargararchivodeclarante(this.files, this)" style="display:none">
                                                <img id="imgfilefamiliarfoto4" src="~/Content/img/fotopreliminarderecha.png" class="img-thumbnail filefoto" />
                                            </label>
                                        </div>
                                    </div>
                                    @*<div class="row">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        @Html.LabelFor(x => x.HijostrFotoLateralDerecho, new { @class = "control-label", @style = "text-align: center;display:flow-root" })
                    </div>
                </div>*@
                                </div>

                            </div>


                            <br />
                            <br />
                            <div class="row" style="text-align:center;">
                                <ul class="nav nav-pills" style="display:inline-table;">
                                    <li class="pull-center btn-danger" style="display:inline;margin-right: 25px;margin-left: 25px;"><button id="btnDenegarDocumentoDeclarante" type="button" data-dismiss="modal" class="btn"><i class="fa fa-times"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
                                    <li class="pull-center btn-warning" style="display:inline;margin-right: 25px;margin-left: 25px;"><button id="btnAceptarCrearFicha" type="submit" class="btn"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
                                </ul>

                            </div>

                        </div>
                        }
                    </div>

                    <div class="alert_error" style="display:none;" id="frmShowErrorPopupFamiliar">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
