@model MGP.CI.SEGURIDAD.Presentacion.ViewModels.UbigeoNavalVM

<div>
    @*<div class="row">
        <div class="col-sm-12" style="margin-top: 5px; padding-bottom:5px; text-align:right; float:right;">
            @if (ViewBag.PERMISOS.NUEVO == true)
            {
                <button class="btn btn-active-info btn-icon-split" id="btnNuevoRegistroUbigeo">
                    <span class="icon text-white-50">
                        <i class="glyphicon glyphicon-plus"></i>
                    </span>
                    <span class="text">Nuevo</span>
                </button>
            }
        </div>
    </div>*@

    <div class="row">
        <div class="panel-group accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">
                            <a data-parent="#accordion" data-toggle="collapse" href="#IdPanelTablasDetalesUbigeo" aria-expanded="false" class="">Lista de Tablas Maestras</a>
                        </h3>
                    </center>
                </div>
                <div class="panel-collapse collapse in" id="IdPanelTablasDetalesUbigeo" aria-expanded="true">
                    <div class="panel-body">
                        <table id="tblTablaUbigeo" class="table table-hover table-condensed">
                            <thead class="thead-dark">
                                <tr id="@Model.UbigeoNavalId">
                                    <th>Zona Naval</th>
                                    <th>Descripcion</th>
                                    <th>Dependencia</th>
                                    <th>Descripcion</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalEditarUbigeo" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="ModalEditarUbigeoContainer">
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>

    MostrarTablaUbigeo("@Url.Action("ConsultarUbigelNaval", "TablasMaestras")");

    $("#btnNuevoRegistroUbigeo").click(function () {
        var Id = 0;
        FrmActualizarRegistroUbigeo(Id)
    });



    function EliminarRegistroUbigeo(Id) {
         var opcion = confirm("Desea eliminar el registro seleccionado?");
                if (opcion == true) {
                 $.ajax({
                     url: "@Url.Action("EliminarUbigeo", "TablasMaestras")",
                     type: "POST",
                     data: {
                         'm_ubigeoNavalId': Id,
                     },
                     success: function (data) {
                         if (data.success == true) {
                             MostrarTablaUbigeo("@Url.Action("ConsultarUbigelNaval", "TablasMaestras")");
                             $.notify("El registro ha sido eliminado satisfactoriamente..", "success");
                         } else {
                             $.notify("Ocurrió un error.." + data.mensajeError, "error");
                         }
                     },
                     error: function (data) {
                         console.log("Sucedió un error")
                     }

                 });
             }
        }


    function FrmActualizarRegistroUbigeo(Id) {
        $.ajax({
                url: "@Url.Action("VerFormEditarUbigeo", "TablasMaestras")",
                data: {
                    "m_UbigeoId": Id
                },
            type: "POST",
            dataType: 'HTML',
            success: function (data) {
                $('#ModalEditarUbigeoContainer').html(data);
                $('#ModalEditarUbigeo').modal('show');
            },
            error: function (data) {
                console.log("Sucedió un error")
            }
        });
        }

    function ValidarUbigelNaval(formulario) {
         $.ajax({
             url: $('#FrmEditarUbigeoNaval').attr('action'),
             type: "POST",
             data: $("#FrmEditarUbigeoNaval").serialize(),
             cache: false,
             success: function (data) {
                if (data.success == true) {
                    $.notify("Operación satisfactoria..", "success");
                    $('#ModalEditarUbigeo').modal('hide');
                    MostrarTablaUbigeo("@Url.Action("ConsultarUbigelNaval", "TablasMaestras")");
                } else {
                    $("#frmShowErrorPopupRsKey").html(data.mensajeError).show();
                    $.notify("Ocurrio un error", "error");
                }
            },
            error: function (data) {
                console.log("Sucedió un error")
            }
         });
        return false;
        }


    function clearForm() {
        $("#frmShowErrorPopup").html("").hide();
            $('#FrmEditarUbigeoNaval').trigger("reset");
            MostrarTablaUbigeo("@Url.Action("ConsultarUbigelNaval", "TablasMaestras")");
        }

    function cambioEstadoRegistroUbigeo(Id, estadoId) {
        var str = "";
        str = (estadoId == 1) ? "Confirma dar de alta al usuario seleccionado?" : "Confirma dar de baja al usuario seleccionado?";
        var opcion = confirm(str);

        if (opcion == true) {

            $.ajax({
            url: "@Url.Action("cambioEstadoRegistroUbigeo", "TablasMaestras")",
            type: "POST",
            data: {
                'm_ubigeoNavalId': parseInt(Id) ,
                'm_estadoId': estadoId,
                },
                success: function (data) {
                    if (data.success == true) {
                        console.log("Llamando a actualizar");
            MostrarTablaUbigeo("@Url.Action("ConsultarUbigelNaval", "TablasMaestras")");
                        $.notify("Operación satisfactoria..", "success");
                    }
                    else
                    {
                        $.notify("Ocurrió un error.." + data.mensajeError, "error");
                    }
                },
                error: function (data) {
                    console.log("Sucedió un error")
                }

                });
            }
        }





        function MostrarTablaUbigeo(path_post) {

             tablaUbigeo= $("#tblTablaUbigeo").dataTable({
                 rowId: "UbigeoNavalId",
                "pageLength": 25,
                orderClasses: false,
                'stripeClasses': ['stripe1', 'stripe2'],
                "createdRow": function (row, data, index, full) {
                    if (data.EstadoId == 2)
                        $(row).css("color", "#8C2A2B");
                    else
                        $(row).css("color", "black");

                },
                "autoWidth": false,
                "destroy": true,
                "sPaginationType": "full_numbers",
                "columnDefs": [{
                    "defaultContent": "-",
                    "targets": "_all"
                }],
                "ajax": {
                    "url": path_post,
                    "type": "POST",
                    "data": {},
                    "dataType": "json"
                },
                 "columns": [
                     { "data": "ZonaNavalDescCorta" },
                     { "data": "ZonaNavalDescLarga" },
                     { "data": "DependenciaDescCorta" },
                     { "data": "DependenciaDescLarga" },
                    {
                         "data": "EstadoNombre", "render": function (data) {
                             if (data == "ACTIVO")
                                 return '<span class="badge badge-success centrado"> &nbsp;&nbsp;ACTIVO&nbsp;&nbsp; </span>';
                             else
                                 return '<span class="badge badge-danger centrado">INACTIVO</span>';

                         }, "orderable": false
                     },
                {
                    sortable: false,
                    "render": function (data, type, full, meta) {
                        var BtnCambiarEstado = "";
                        var BtnActualizarRegistro = "<button type='button' data-toggle='tooltip' data-placement='top' title='Actualizar datos del Registro' id='btnModificarUsuarioModal' onclick='FrmActualizarRegistroUbigeo(" + full.UbigeoNavalId + ")' class='btn btn-sm btn-active-info'><i class='fa fa-edit'></i>&nbsp;Editar</button>&nbsp;" ;

                        if (full.EstadoId == 1)
                            BtnCambiarEstado = "<button type='button' data-toggle='tooltip' data-placement='top' title='Dar de baja Registro' id='' onclick='cambioEstadoRegistroUbigeo(\"" + full.UbigeoNavalId + "\" , 2)' class='btn btn-sm btn-active-info'><i style='color:#623988' class='fa fa-toggle-on'></i></button>&nbsp;";
                        else
                            BtnCambiarEstado = "<button type='button' data-toggle='tooltip' data-placement='top' title='Dar de alta al Registro' id='' onclick='cambioEstadoRegistroUbigeo(\"" + full.UbigeoNavalId + "\" , 1)' class='btn btn-sm btn-active-info'><i style='color:gray' class='fa fa-toggle-off'></i></button>&nbsp;";


                        @if (ViewBag.PERMISOS.MODIFICAR == false){
                            <text>
                                BtnCambiarEstado = "";
                            </text>
                        }
                            var BtnEliminarUsuario = "";
                        @if (ViewBag.PERMISOS.ELIMINAR == true)
                            {
                            <text>
                        BtnEliminarUsuario = "<button type='button' data-toggle='tooltip' data-placement='top' title='Eliminar Registro' id='btnEliminarUsuarioModal' onclick='EliminarRegistroUbigeo(\"" + full.UbigeoNavalId + "\")' class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></button>";
                            </text>
                           }

                        return BtnActualizarRegistro + BtnCambiarEstado + BtnEliminarUsuario;
                },
                    "className": "text-right"
                }
             ],
            "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
        }



</script>
}